/* 常规 */
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-regular.ttf");
  font-weight: 500;
  font-weight: normal;
}
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-italic.ttf");
  font-weight: 500;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-light.ttf");
  font-weight: 400;
  font-weight: normal;
}
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-lightitalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sarasa UI SC Light";
  src: url("./sarasa-ui-sc-light.ttf");
}
@font-face {
  font-family: "Sarasa UI SC Light";
  src: url("./sarasa-ui-sc-lightitalic.ttf");
  font-style: italic;
}

/* Extra Light */
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-extralight.ttf");
  font-weight: 300;
  font-weight: normal;
}
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-extralightitalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sarasa UI SC Extra Light";
  src: url("./sarasa-ui-sc-extralight.ttf");
}
@font-face {
  font-family: "Sarasa UI SC Extra Light";
  src: url("./sarasa-ui-sc-extralightitalic.ttf");
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-bold.ttf");
  font-weight: 700;
  font-weight: normal;
}
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-bolditalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sarasa UI SC Bold";
  src: url("./sarasa-ui-sc-bold.ttf");
}
@font-face {
  font-family: "Sarasa UI SC Bold";
  src: url("./sarasa-ui-sc-bolditalic.ttf");
  font-style: italic;
}

/* Semi Bold */
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-semibold.ttf");
  font-weight: 600;
  font-weight: normal;
}
@font-face {
  font-family: "Sarasa UI SC";
  src: url("./sarasa-ui-sc-semibolditalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Sarasa UI SC Semi Bold";
  src: url("./sarasa-ui-sc-semibold.ttf");
}
@font-face {
  font-family: "Sarasa UI SC Semi Bold";
  src: url("./sarasa-ui-sc-semibolditalic.ttf");
  font-style: italic;
}
